html{
    scroll-behavior: smooth;
}
body {
    font-family: "Roboto Slab", serif; 
    margin: 0;
    padding: 0;
    transition: all 0.5s;
    background-color: #ddd;
}
.navbar{
    margin:10px;
    display: flex;
    justify-content: space-between;
}
.navbar ul{
    display: flex;
    flex-direction: row;
    gap: 20px;
    align-items: center;
    list-style: none;
}
.navbar a{
    text-decoration: none;
    color: var(--b-c);
    font-weight: 900;
    font-family: "Roboto Slab", serif;
}
#logout-btn{
    bottom: 10px;
    border-style: none;
    border-radius: 5px;
    padding: 10px 20px;
    text-transform: uppercase;
    font-family: "Roboto Slab", serif;
    font-weight: 900;
}
.database-data {
    display: flex;
    flex-wrap: wrap;
    width: 50%;
    gap: 20px;
    align-items: center;
    justify-content: center;
}
.view-data{
    border-radius: 5px;
    width: 150px;
    height: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 10px;
    padding: 5px;
    background-color: var(--o-c);
    color: var(--w-c);
}
.view-data p{
    font-size: var(--ts-ss);
}
.view-data p, .view-data span{
    font-family: "Roboto Slab", serif;
    font-weight: 600;
    text-transform: uppercase;
}
.view-data span{
    font-size: var(--ts-lx);
}

.chart-container {
    display: flex;
    justify-content: left;
    gap:20px;
    z-index: 1; 
    height: 35%;
    margin: auto;
    margin-bottom: 20px;
}
.linegraph-container{
    width: 40%;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px var(--b-c);
}
#search-bar{
    outline: transparent;
    padding: 10px;
    border-radius: 5px;
    border: none;
    font-family: "Open Sans", sans-serif;
    font-weight: 700;
}
.action-buttons{
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    gap: 10px;
}
.a-buttons{
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: var(--o-c);
    width: 100px;
    text-transform: uppercase;
    color: var(--w-c);
    font-family: "Roboto Slab", serif;
    font-weight: 800;
    transition: all 0.5s;
}
.a-buttons:hover{
    background-color: var(--lbh-c);
}
#closebtn{
    background-color: transparent;
    border: none;
}
.action-buttons img{
    width: 25px;
    background-color: transparent;
}
.table-section{
    width: 95%;
    margin: auto;
}
.table-container {
    max-height: 400px;
    overflow-y: auto; 
    overflow-x: auto;
    margin: auto;
    z-index: -99999;
}

table {
    width: 100%;
    border-collapse: collapse;
}

th, td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
    text-align: center;
}

td {
    font-size: 0.7rem;
    font-family: "Roboto Slab", serif;
    padding: 0px 10px;
    background-color: var(--dt-c);
    color: var(--w-c);
}

th {
    background-color: var(--o-c);
    font-size: var(--ts-ss);
    color: var(--w-c);
    font-family: "Open Sans", sans-serif;
    font-weight: 800;
    position: sticky; 
    top: -1px; 
    z-index: 1; 
}

.teacher-section{
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.teacher-container{
    padding: 20px;
    width: 1000px;
    height: 400px;
    background-color: rgb(255, 242, 242);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
}

.teacher-content{
    display: flex;
    justify-content: space-around;
    gap: 50px;
}

.teacheRegistrationForm{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 180px;
    
}
.teacheRegistrationForm label{
    width: 100%;
    margin-top: 5px;
    font-family: "Open Sans", sans-serif;
    font-weight: 600;
}
.teacheRegistrationForm input{
   width: 190px;
   border-left: none;
   border-right: none;
   border-top: none;
   border-bottom-color:#ff5d3575;
   background-color: transparent;
   outline: none;
   padding: 5px;
}
.teacher-btn-container button{
    margin-top: 10px;
    border: none;
    padding: 5px 10px;
    border-radius: 5px;
    background-color: var(--o-c);
    color: var(--w-c);
    font-family: "Roboto Slab", serif;
    font-weight: 700;
    text-transform: uppercase;
    font-size: 13px;
    cursor: pointer;
    transition: all 0.5s;
    width: 100%;
}
.teacher-btn-container button:hover{
    background-color: var(--lbh-c);
}
.teacher-btn-container{
    display: flex;
    flex-direction: row;
    gap: 5px;
    width: 100%;
}
.show-password-btn, .password-visible, .delete-btn, .edit-btn, .save-btn{
    border: none;
    border-radius: 5px;
    padding: 5px;
    background-color: var(--o-c);
    color: var(--w-c);
    text-transform: uppercase;
    font-family: "Roboto Slab", serif;
    font-weight: 900;
    font-size: 10px;
    width: 50px;
}
.edit-btn,.save-btn{
    margin-bottom: 5px;
}
.loader-container {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    z-index: 99999;
    padding: 1000px;
    background-color: #333;
 }
 
 .flipping-cards {
    display: flex;
    justify-content: space-between;
    width: 210px; /* Adjust based on the number of cards and their width */
 }
 
 .card {
    width: 30px;
    height: 40px;
    background-color: #FF5C35;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    font-weight: bold;
    border-radius: 4px;
    backface-visibility: hidden;
    transform-style: preserve-3d;
    animation: flip 2s infinite;
 }
 
 .card:nth-child(1) {
    animation-delay: 0s;
 }
 
 .card:nth-child(2) {
    animation-delay: 0.3s;
 }
 
 .card:nth-child(3) {
    animation-delay: 0.6s;
 }
 
 .card:nth-child(4) {
    animation-delay: 0.9s;
 }
 
 .card:nth-child(5) {
    animation-delay: 1.2s;
 }
 
 .card:nth-child(6) {
    animation-delay: 1.5s;
 }
 
 .card:nth-child(7) {
    animation-delay: 1.8s;
 }
 
 @keyframes flip {
    0%, 100% {
        transform: rotateY(0deg);
    }
    50% {
        transform: rotateY(180deg);
    }
 }
 
 .pageloader-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
 }
 
 .fading-bars {
    display: flex;
    justify-content: space-between;
    width: 80px;
 }
 
 .bar {
    width: 10px;
    height: 40px;
    background-color: #FF5C35;
    animation: fade 1s infinite;
 }
 
 .bar:nth-child(1) {
    animation-delay: 0s;
 }
 
 .bar:nth-child(2) {
    animation-delay: 0.2s;
 }
 
 .bar:nth-child(3) {
    animation-delay: 0.4s;
 }
 
 .bar:nth-child(4) {
    animation-delay: 0.6s;
 }
 
 .bar:nth-child(5) {
    animation-delay: 0.8s;
 }
 
 @keyframes fade {
    0%, 100% {
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
 }

 /* .donut-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 40%;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px var(--b-c);
}

#myChart {
    width: 200px;
    height: 200px;
}

.labels-column {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-content: center;
    flex: 1;
    padding: 20px;
    font-size: var(--ts-ss);
    gap: 10px;
    width: 100%;
    background-color: var(--o-c);
    color: var(--w-c);
    border-radius: 10px;
}

.donut-column {
    flex: 1;
    display: flex;
    justify-content: center;
}

.barchart-container {
    width: 40%;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px var(--b-c);
}
#lineChart{
    width: 300px;
    height: 200px;
} */