body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

.dashboard {
    display: flex;
    height: 100vh;
}

.sidebar {
    position: fixed;
    top: 0;
    left: 0;
    background-color: #333;
    color: #fff;
    width: 200px;
    height: 100%;
    padding: 20px;
}

.sidebar h3 {
    margin-top: 0;
}

.sidebar ul {
    list-style: none;
    padding: 0;
}

.sidebar li {
    margin-bottom: 10px;
}

.sidebar a {
    color: #fff;
    text-decoration: none;
    display: block;
    padding: 10px;
    border-left: 4px solid transparent;
}

.sidebar a:hover {
    background-color: #555;
    border-left-color: #ccc;
}

.chart-container {
    position: absolute;
    top: 10px;
    display: flex;
    justify-content: left;
    gap:20px;
    margin-top: 10px;
    z-index: 1; 
    width: 80%;
    margin: auto;
    margin-left: 220px;
}

.donut-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 40%;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px var(--b-c);
}

#myChart {
    width: 200px;
    height: 200px;
}

.labels-column {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-content: center;
    flex: 1;
    padding: 20px;
    font-size: var(--ts-ss);
    gap: 10px;
    width: 100%;
    background-color: var(--o-c);
    color: var(--w-c);
    border-radius: 10px;
}

.donut-column {
    flex: 1;
    display: flex;
    justify-content: center;
}

.barchart-container {
    width: 40%;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px var(--b-c);
}
#lineChart{
    width: 300px;
    height: 200px;
}
.linegraph-container{
    width: 60%;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px var(--b-c);
}
#linegraph{
    width: 470px;
    height: 220px;
}

.table-section {
    margin-left: 220px;
    position: fixed;
    top: 35%;
    width: 80%;
}

.table-container {
    max-height: 450px;
    overflow-x: auto;
    margin: auto;
}

table {
    width: 100%;
    border-collapse: collapse;
}

th, td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
    text-align: center;
}

td {
    font-size: 0.7rem;
    font-family: "Roboto Slab", serif;
    padding: 0px 10px;
}

th {
    background-color: #f2f2f2;
    font-size: var(--ts-ss);
    font-family: "Open Sans", sans-serif;
    font-weight: 800;
}

 
 .pageloader-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
 }
 
 .fading-bars {
    display: flex;
    justify-content: space-between;
    width: 80px;
 }
 
 .bar {
    width: 10px;
    height: 40px;
    background-color: #FF5C35;
    animation: fade 1s infinite;
 }
 
 .bar:nth-child(1) {
    animation-delay: 0s;
 }
 
 .bar:nth-child(2) {
    animation-delay: 0.2s;
 }
 
 .bar:nth-child(3) {
    animation-delay: 0.4s;
 }
 
 .bar:nth-child(4) {
    animation-delay: 0.6s;
 }
 
 .bar:nth-child(5) {
    animation-delay: 0.8s;
 }
 
 @keyframes fade {
    0%, 100% {
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
 }
