
body{
    height: 100vh;
    background-image: url(assets/login-background.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.login-container {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    padding: 50px;
    background: rgba(255,255,255,0.5);
    background: rgba(255,255,255,0.3);
    -webkit-backdrop-filter: blur(13px);
    backdrop-filter: blur(13px);
    border: 1px solid rgba(255,255,255,0.15);
    -webkit-box-shadow: 0 0 7.5px 2.5px #dddddd;
    -moz-box-shadow: 0 0 7.5px 2.5px #dddddd;
    box-shadow: 0 0 7.5px 2.5px #a09f9f;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
}
.login-text{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.login-text h2{
    font-family: "Matemasie", sans-serif;
    font-weight: 900;
    font-size: var(--ts-l);
}

.eye-container {
    position: absolute;
    top: -20%;
    left: 50%;
    transform: translateX(-50%);
    transition: all 0.2s;
}

.eye {
    width: 100px;
    height: 100px;
    background: url('assets/eye1.png') no-repeat center center;
    background-size: contain;
    transition: all 0.1s ease-in-out;
}

.input-group {
    margin-bottom: 15px;
    text-align: left;
}

.input-group label {
    display: block;
    font-family: "Open Sans", sans-serif;
    font-weight: 600;
    font-size: var(--ts-ss);
    text-transform: uppercase;
    align-items: center;
}

.input-group input {
    width: 100%;
    padding: 8px;
    margin: 5px 0px;
    box-sizing: border-box;
    font-family: "Roboto Slab", serif;
    font-size: var(--ts-ss);
    font-weight: 700;
    cursor: pointer;
    border-radius: 5px;
    outline: none;
    border-style: none;
}
.showpass{
    display: flex;
    justify-content: space-between;
}
.showme{
    display: flex;
    flex-direction: row;
    gap: 5px;
    align-items: center;
}
.showme input:checked{
    width:15px;
}
.password-container {
    position: relative;
}

input[type=password]::-ms-reveal,
input[type=password]::-ms-clear
{
    display: none;
}
form button{
    width: 100%;
    padding: 5px;
    font-family: "Roboto Slab", serif;
    font-weight: 800;
    background-color: var(--lbh-c);
    border-radius: 5px;
    border-style: none;
    color: var(--w-c);
    transition: all 0.5s;
    cursor: pointer;
}
form button:hover{
    background-color: var(--lbh-c);
}
.sign-in-icon{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}
#google-signin-button, #faceRecognition-signin-button{
    background-color: transparent;
    border-style: none;
    margin-top: 20px;
    cursor: pointer;
    transition: all 0.5s;
}
#google-signin-button:hover, #faceRecognition-signin-button:hover{
   filter:drop-shadow(0px 0px 3px #000)
}
#google-signin-button img, #faceRecognition-signin-button img{
    width: 30px;
    height: 30px; 
}

#googlep{
    font-family: "Roboto Slab", serif;
    font-size: var(--ts-ss);
    text-align: center;
}

.faceRecognition-container {
    background-color: rgba(0, 0, 0, 0.8); /* Semi-transparent background */
    width: 100vw;
    height: 100vh;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    justify-content: center;
    align-items: center;
}

.faceRecognition-content {
    border: 1px solid rgb(255, 255, 255);
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-content: center;
    border-radius: 5px;
    background-color: #fff; 
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.faceRecognition-content button {
    width: 50%;
    margin: auto;
    padding: 5px;
    border-style: none;
    background-color: var(--o-c);
    border-radius: 5px;
    font-family: "Roboto Slab", serif;
    font-weight: 800;
    color: var(--w-c);
    text-transform: uppercase;
    cursor: pointer;
}

#loading-indicators{
    color: red;
    font-size: 100px;
    position: absolute;
    top: -60px;
    right: 10px;
}


#loading-indicator {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    background: rgb(183,241,252);
    background: linear-gradient(179deg, rgba(183,241,252,1) 0%, rgba(21,44,76,1) 99%, rgba(30,53,85,1) 100%);
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
 }
 
 .ripple {
    position: relative;
    width: 50px;
    height: 50px;
 }
 
 .ripple::before, .ripple::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    border: 4px solid #FF5C35;
    opacity: 0;
    animation: ripple 3s infinite;
 }
 
 .ripple::after {
    animation-delay: 1.5s;
 }
 
 @keyframes ripple {
    0% {
        transform: scale(0.5);
        opacity: 0;
    }
    25% {
        opacity: 1;
    }
    100% {
        transform: scale(2.5);
        opacity: 0;
    }
 }

 footer{
    position: fixed;
    text-align: center;
    bottom: 10px;
    width: 100%;
    color: var(--w-c);
    font-family: "Roboto Slab", serif;
    font-weight: 800;
    font-size: 0.7rem;
 }

/* dark-mode toggle*/
.toggle-container {
    margin-top: 20px;
    position: relative;
    width: 60px;
    height: 30px;
}

#dark-mode-toggle {
    display: none;
}

.toggle-label {
    display: block;
    width: 85%;
    height: 85%;
    background-color: var(--lbh-c);
    border-radius: 30px;
    cursor: pointer;
    position: relative;
    transition:  0.3s;
}

.toggle-slider {
    position: absolute;
    top: 6px;
    left: 3px;
    width: 15px;
    height: 15px;
    background-color: #fff;
    border-radius: 50%;
    transition: transform 0.3s;
}

#dark-mode-toggle:checked + .toggle-label {
    background-color: var(--p-c);
}

#dark-mode-toggle:checked + .toggle-label .toggle-slider {
    transform: translateX(30px);
}

body.dark-mode{
    background-image: initial;
    background: var(--b-c);
    color: var(--w-c);
}
body.dark-mode .login-container {
    box-shadow: 0 0 10px var(--ws-c);
    background-color: var(--dt-c);
}
body.dark-mode form button{
    background-color: var(--p-c);
}
body.dark-mode form button:hover{
    background-color: var(--dbh-c);
}

@media screen and (max-width:700px) {
    .login-container {
        width: 60%;
        font-size: var(--ts-ss);
        padding: 20px;
    }
    .input-group{
        width: 100%;
    }
    .input-group input {
       width: 100%;
    }
    form{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    #googlep {
        margin-top: 10px;
    }
    
}