/* body{
  background-image: url(/assets/login-background.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  -webkit-backdrop-filter: blur();
  height: 100vh;  
} */
body{
    margin: auto;
    transition: all 0.5s;
}

/* headers section */
 header{
    display: flex;
    justify-content: space-between;
    padding: 0px 30px;
    margin: 20px;
    border-radius: 20px;

 }
 .icon-container{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
 }
 .icon-container img{
    width: 50px;
    margin: 10px 20px;
 }
 .icon-container a{
    text-decoration: none;
    text-transform: uppercase;
    font-family: "Matemasie", sans-serif;
    font-size: var(--ts-m);
    color: var(--o-c);
 }
 .nav-bar-container{
    margin: 15px 20px;
 }
 .nav-bar-container ul{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    gap: 20px;
    list-style: none;
 }
 .nav-bar-container a{
    text-decoration: none;
    text-transform: uppercase;
    font-family: "Roboto Slab", serif;
    font-weight: 800;
    color: var(--o-c);
    font-size: var(--ts-s);
 }
 .nav-bar-container button img, #index-logout img{
    margin-top: 5px;
    width: 25px;
 }
 .nav-bar-container button{
    border: none;
    background-color: transparent;
 }

 /* drag and drop */
 #drop-zone {
   position: absolute;
   top:50%;
   left: 50%;
   transform: translate(-50%,-50%);
   width: 80%;
   height: 50%;
   font-family: "Roboto Slab", serif;
   border: 2px dashed var(--o-c);
   border-radius: 4px;
   display: flex;
   justify-content: center;
   align-items: center;
   text-align: center;
   color: var(--o-c);
   
   cursor: pointer;
   transition: background-color 0.2s ease;
}

#drop-zone.dragover {
   background-color: #e0e0e0;
}
.table-section{
   margin: 20px;
}
.table-container {
   width: 95%;
   max-height: 500px;
   overflow-x: auto;
   margin: auto;
}


table {
   width: 100%;
   border-collapse: collapse;
   
}

th, td {
   border: 1px solid #ddd;
   padding: 8px;
   text-align: left;
   text-align: center;
   
}
td{
   font-size: 0.7rem;
   font-family: "Roboto Slab", serif;
   padding: 0px 10px;
}
th {
   background-color: #f2f2f2;
   font-size: var(--ts-ss);
   font-family: "Open Sans", sans-serif;
   font-weight: 800;
}

.upload-button{
   position: absolute;
   right: 30px;
   margin: 10px;
   padding: 10px;
   text-transform: uppercase;
   font-family: "Roboto Slab", serif;
   font-weight: 900;
   border-style: none;
   border-radius: 10px;
   color: var(--w-c);
   transition: all 0.5s;
}
.table-buttons{
   position: absolute;
   right: 40px;
}

#edit-button ,#upload-button , #save-button{
   padding: 10px;
   width: 100px;
   text-transform: uppercase;
   font-family: "Roboto Slab", serif;
   font-weight: 900;
   background-color: var(--o-c);
   border-style: none;
   border-radius: 10px;
   color: var(--w-c);
   transition: all 0.5s;
   margin-top: 10px;
   cursor: pointer;
}
#edit-button:hover,#upload-button:hover,#save-button:hover{
   background-color: var(--lbh-c);
}
body.dark-mode #save-button{
   background-color: var(--p-c);
}
body.dark-mode #edit-button{
   background-color: var(--p-c);
}
body.dark-mode #upload-button{
   background-color: var(--p-c);
}
body.dark-mode #edit-button:hover{
   background-color: var(--dbh-c);
}
body.dark-mode #save-button:hover{
   background-color: var(--dbh-c);
}
body.dark-mode #upload-button:hover{
   background-color: var(--dbh-c);
}
#search-bar{
   padding: 5px;
   text-align: center;
   font-family: "Open Sans", sans-serif;
   font-weight: 700;
   border-radius: 5px;
}
#loading-indicator {
   position: absolute;
   top: 50%;
   left: 50%;
   transform: translate(-50%,-50%);
   background: rgb(183,241,252);
   background: linear-gradient(179deg, rgba(183,241,252,1) 0%, rgba(21,44,76,1) 99%, rgba(30,53,85,1) 100%);
   width: 100%;
   height: 100vh;
   display: flex;
   justify-content: center;
   align-items: center;
}

.ripple {
   position: relative;
   width: 50px;
   height: 50px;
}

.ripple::before, .ripple::after {
   content: '';
   position: absolute;
   width: 100%;
   height: 100%;
   border-radius: 50%;
   border: 4px solid #FF5C35;
   opacity: 0;
   animation: ripple 3s infinite;
}

.ripple::after {
   animation-delay: 1.5s;
}

@keyframes ripple {
   0% {
       transform: scale(0.5);
       opacity: 0;
   }
   25% {
       opacity: 1;
   }
   100% {
       transform: scale(2.5);
       opacity: 0;
   }
}

 /* dark-mode */

 body.dark-mode{
    background-color: var(--b-c);
    color: var(--w-c);
    transition: all 0.5s;
 }
 body.dark-mode .icon-container a{
    color: var(--p-c);
 }
 body.dark-mode .nav-bar-container a{
    color: var(--w-c);
 }
 body.dark-mode th{
   background-color: var(--p-c);
}
@media screen and (max-width:700px) {
   .nav-bar-container{
      margin: initial;
      position: fixed;
      bottom:10px;
      left: 50%;
      transform: translate(-50%);
      width: 90%;
      background-color: var(--o-c);
      border-radius: 10px;
      padding: 5px;
      color: var(--w-c);
   }
   .nav-bar-container ul{
      display: flex;
      justify-content: space-between;
   }
   .nav-bar-container a{
      font-size:var(--ts-ss) ;
      color: var(--w-c);
   }
   .table-container {
      width: 100%;
      overflow-x: auto;
  }
  table {
      width: 100%;
      display: block;
  }
  thead {
      display: none;
  }
  tr {
      display: block;
      margin-bottom: 10px;
  }
  td {
      display: block;
      text-align: right;
      padding-left: 50%;
      position: relative;
  }
  td::before {
      content: attr(data-label);
      position: absolute;
      left: 0;
      width: 50%;
      padding-left: 10px;
      font-weight: bold;
      text-align: left;
      box-sizing: border-box;
  }
  .table-buttons{
   display: flex;
   flex-direction: column;
   align-items: center;
   position: initial;
   margin-top: 50px;
  }
   td {
      padding: 15px;
      color: var(--w-c);
      font-size: 9px;
   }
   /* dark-mode */
   body.dark-mode .nav-bar-container{
      background-color: var(--p-c);
   }
}
