body{
    margin: auto;
    transition: all 0.5s;
}

/* headers section */
 header{
    display: flex;
    justify-content: space-between;
    padding: 0px 30px;
    margin: 20px;
    border-radius: 20px;

 }
 .icon-container{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
 }
 .icon-container img{
    width: 50px;
    margin: 10px 20px;
 }
 .icon-container a{
    text-decoration: none;
    text-transform: uppercase;
    font-family: "Matemasie", sans-serif;
    font-size: var(--ts-m);
    color: var(--o-c);
 }
 .nav-bar-container{
    margin: 15px 20px;
 }
 .nav-bar-container ul{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    gap: 20px;
    list-style: none;
 }
 .nav-bar-container a{
    text-decoration: none;
    text-transform: uppercase;
    font-family: "Roboto Slab", serif;
    font-weight: 800;
    color: var(--o-c);
    font-size: var(--ts-s);
 }
 .nav-bar-container button img{
    margin-top: 5px;
    width: 25px;
 }
 .nav-bar-container button{
    border: none;
    background-color: transparent;
 }
 .nav-bar-container button img, #index-logout img{
   margin-top: 5px;
   width: 25px;
}

.table-section{
    margin: 20px;
 }
 .table-container {
    width: 95%;
    max-height: 500px;
    overflow-x: auto;
    margin: auto;
 }
 
 
 table {
    width: 100%;
    border-collapse: collapse;
    
 }
 
 th, td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
    text-align: center;
    
 }
 td{
    font-size: 0.7rem;
    font-family: "Roboto Slab", serif;
    padding: 5px 10px;
 }
 th {
    background-color: var(--o-c);
    font-size: var(--ts-ss);
    font-family: "Open Sans", sans-serif;
    font-weight: 800;
    color: var(--w-c);
 }
 #search-bar{
    padding: 5px;
    text-align: center;
    font-family: "Open Sans", sans-serif;
    font-weight: 700;
    border-radius: 5px;
    width: 50%;
    margin: auto;
    margin-top: 40px;
 }
 section{
    display: flex;
    flex-direction: column;
 }

 .loader-container {
   display: flex;
   justify-content: center;
   align-items: center;
   height: 70vh;
}

.flipping-cards {
   display: flex;
   justify-content: space-between;
   width: 210px; /* Adjust based on the number of cards and their width */
}

.card {
   width: 30px;
   height: 40px;
   background-color: #FF5C35;
   color: white;
   display: flex;
   justify-content: center;
   align-items: center;
   font-size: 18px;
   font-weight: bold;
   border-radius: 4px;
   backface-visibility: hidden;
   transform-style: preserve-3d;
   animation: flip 2s infinite;
}

.card:nth-child(1) {
   animation-delay: 0s;
}

.card:nth-child(2) {
   animation-delay: 0.3s;
}

.card:nth-child(3) {
   animation-delay: 0.6s;
}

.card:nth-child(4) {
   animation-delay: 0.9s;
}

.card:nth-child(5) {
   animation-delay: 1.2s;
}

.card:nth-child(6) {
   animation-delay: 1.5s;
}

.card:nth-child(7) {
   animation-delay: 1.8s;
}

@keyframes flip {
   0%, 100% {
       transform: rotateY(0deg);
   }
   50% {
       transform: rotateY(180deg);
   }
}
  /* dark-mode */

body.dark-mode{
    background-color: var(--b-c);
    color: var(--w-c);
    transition: all 0.5s;
    }
body.dark-mode .icon-container a{
        color: var(--p-c);
    }
body.dark-mode .nav-bar-container a{
        color: var(--w-c);
    }
body.dark-mode th{
    background-color: var(--p-c);
    }
 @media screen and (max-width:700px) {
    .nav-bar-container{
       margin: initial;
       position: fixed;
       bottom:10px;
       left: 50%;
       transform: translate(-50%);
       width: 90%;
       background-color: var(--o-c);
       border-radius: 10px;
       padding: 5px;
       color: var(--w-c);
    }
    .nav-bar-container ul{
       display: flex;
       justify-content: space-between;
    }
    .nav-bar-container a{
       font-size:var(--ts-ss) ;
       color: var(--w-c);
    }
    section{
      height: 80vh;
    }
    .table-container {
        width: 100%;
        overflow-x: auto;
    }
    
    table {
        width: 90%;
        border-collapse: collapse;
        margin: auto;
    }
    
    thead {
        display: none;
    }
    
    tr {
        display: block;
        margin-bottom: 10px;
        border: 1px solid #ccc;
    }
    td:first-child {
      background-color: var(--o-c);
      color: var(--w-c);
      font-weight: 900;
      font-size: var(--ts-ss);
    }
    td {
        display: block;
        text-align: right;
        padding-left: 50%;
        position: relative;
        box-sizing: border-box;
        border-bottom: 1px solid #eee;
        padding: 15px;
        color: var(--b-c);
        font-size: 9px;
    }
    
    td::before {
        content: attr(data-label);
        position: absolute;
        left: 0;
        width: 50%;
        padding-left: 10px;
        font-weight: bold;
        text-align: left;
        box-sizing: border-box;
        white-space: nowrap;
    }
    /* dark-mode */
    body.dark-mode .nav-bar-container{
       background-color: var(--p-c);
    }
    body.dark-mode td{
        color: var(--w-c);
    }
    body.dark-mode td:first-child {
      background-color: var(--p-c);
    }
}